name: Build Minecraft Plugins

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup Java
      uses: actions/setup-java@v3
      with:
        java-version: "17"
        distribution: "temurin"

    - name: Build with Maven
      run: mvn package

    - name: Upload JAR files
      uses: actions/upload-artifact@v3
      with:
        name: built-plugins
        path: "**/target/*.jar"
